.landing{

    #galaxy-container {
        width: 100%;
        height: 100%;
        margin-top: 50px;
        padding: 20px;
        // background-image: url('../img/bg-one.jpg'); 
    }
    .recall-grid {
        display: inline-block;
    }

    .recall-grid-row {
        // margin-bottom: 3px;
        //display: flex;
    }

    .recall-grid-tile {
        display: inline-block;
        width: 130px;
        height: 130px;
        background: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
        border: 1px solid rgb(2, 2, 2);
        div{
            padding-top: 43px;
            text-align: center;
        }
    }
    @media only screen and (max-width: 768px) {
        .recall-grid-tile {
        display: inline-block;
        width: 124px;
        height: 130px;
        background: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
        border: 1px solid rgb(2, 2, 2);
        div{
            padding-top: 43px;
            text-align: center;
        }
    }
    }
    
    

    .recall-grid-tile.is-selected {
        background: linear-gradient(to right, rgb(201, 75, 75), rgb(75, 19, 79));
        color:#fff;
    }

    .thanku-template {
        text-align: center; 
        h2 {
            border-bottom: none;
            padding-left: 10px;
            margin:0;
        }
    }
    .thanku-actions {margin-top:15px;margin-bottom:15px;}
    .thanku-actions .btn { margin-right:10px; }

    .code{
        padding:10px;
        text-align:center;
        font-size:18px;
        border:1px dashed;
    }

    .well {
        min-height: 20px;
        padding: 0px;
        margin-bottom: 20px;
        background-color: rgb(207, 207, 208);
        border: 1px solid rgb(227, 227, 227);
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    .widget-tile {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 15px;
        h5 {
            margin-bottom: 8px;
        }
        .progress {
            height: 5px;
        }
        .green {
            background-color: rgb(0, 150, 136);
        }
    }

    .SocialMediaShareButton {
        float: left;
    }
    .top{
        padding-top: 4px;
        .icon-size{
            font-size: 25px;
            float: left;
            padding-left: 10px;
            padding-top: 4px;
        }
    } 
}