.listing{
    .service-wrapper{
        margin: 0;
        text-align:left;
        padding: 10px 2px 23px 11px;
        margin-bottom: 10px;
        h3{
            margin: 11px 2px !important;
        }
    }

    h2 {
        margin: 10px  0;
    }

    .ribbon-wrapper {
        width: 85px;
        height: 81px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        right: 14px;
    }
    .pricing-plan-title{
        position: relative;
        padding: 8px 6px 12px 0px;
        line-height: 1;
        font-size: 16px;
        font-weight: bold;
        color: rgb(89, 95, 107);
        border-bottom: 1px dashed rgb(210, 210, 210);

    }



}